@using teste.Models
@{
    ViewData["Title"] = "Categorias";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category cat in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@cat.Id</td>
                <td>@cat.Name</td>
            </tr>
        }
        <script>console.log(Model)</script>
    </tbody>
</table>